rvm:
  - 1.9.3
  - 2.0.0
branches:
  only:
    - master
notifications:
  irc:
    channels:
      - "chat.freenode.net#chefspec"
    use_notice: true
    skip_join: true
    template:
      - "%{message} (%{author}): %{build_url}"
gemfile:
  - gemfiles/chef-11.0.0.gemfile
  - gemfiles/chef-11.2.0.gemfile
  - gemfiles/chef-11.4.4.gemfile
  - gemfiles/chef-11.6.0.gemfile
  - gemfiles/chef-11.8.0.gemfile
  - gemfiles/chef-master.gemfile
matrix:
  fast_finish: true
  allow_failures:
    - gemfile: gemfiles/chef-master.gemfile
  exclude:
    - rvm: 2.0.0
      gemfile: gemfiles/chef-11.0.0.gemfile
    - rvm: 2.0.0
      gemfile: gemfiles/chef-11.2.0.gemfile
    - rvm: 2.0.0
      gemfile: gemfiles/chef-11.4.4.gemfile
